<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size="11" size-lg="8">
      
      <ion-segment value="default" (ionChange)='this.trocarPais($event)'>
        <ion-segment-button value="default">
          <ion-label>Inicio</ion-label>
        </ion-segment-button>
        <ion-segment-button value="brasil">
          <ion-label>Brasil</ion-label>
        </ion-segment-button>
        <ion-segment-button value="china">
          <ion-label>china</ion-label>
        </ion-segment-button>
      </ion-segment>

      

    </ion-col>
  </ion-row>

<ion-row *ngIf="this.selecionado == 'brasil'" class="ion-justify-content-center">
  <ion-col class="ion-text-center" size="11" size-lg="8">
      <ion-card>
        <ion-card-header>
          <ion-label><h1>Brasil</h1></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="12" size-lg="4">
              <img src="https://images.pexels.com/photos/705317/pexels-photo-705317.jpeg?auto=compress&cs=tinysrgb&w=600">
            </ion-col>
            <ion-col size="12" size-lg="4">
              <img src="https://media.istockphoto.com/id/1383038189/pt/foto/waving-flag-of-brasil-national-symbol-of-country-and-state.jpg?b=1&s=612x612&w=0&k=20&c=CUr4BE-t2v4iAp9jG42T8O5pShcdE9ineuaNICZM844=">
            </ion-col>
            <ion-col size="12" size-lg="4">
              <img src="https://images.pexels.com/photos/2954458/pexels-photo-2954458.jpeg?auto=compress&cs=tinysrgb&w=600">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-col>
</ion-row> 
<ion-row *ngIf="this.selecionado == 'china'" class="ion-justify-content-center">
  <ion-col class="ion-text-center" size="11" size-lg="8">
      <ion-card>
        <ion-card-header>
          <ion-label><h1>China</h1></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="12" size-lg="4">
              <img src="https://images.pexels.com/photos/19872/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600">
            </ion-col>
            <ion-col size="12" size-lg="4">
              <img src="https://images.pexels.com/photos/2412603/pexels-photo-2412603.jpeg?auto=compress&cs=tinysrgb&w=600">
            </ion-col>
            <ion-col size="12" size-lg="4">
              <img src="https://images.pexels.com/photos/745243/pexels-photo-745243.jpeg?auto=compress&cs=tinysrgb&w=600">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
  </ion-col>
</ion-row>
</ion-content>